.articles {
  margin-top: 2%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  h1 {
    font-size: 14px;
    font-weight: 400;
  }
  h2 {
    color: $lt-grey;
    font-size: 10px;
    font-weight: 400;
  }
  p {
    font-size: 7px;
  }
  h3 {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    color: $red;
    &:hover {
      color: $grey;
    }
  }
  .art-text {
    color: #000;
    line-height: 16px;
    margin: 10%;
    margin-bottom: 7%;
    @include ease(.2s);
    &:hover {
      transform: scale(1.025);
    }
  }
}

.col-3 {
  display: inline-block;
  margin: auto;
  vertical-align: top;
  background-color: #fff;
  width: 32.5%;
  min-height: 100%;
}
