.boards {
  background-color: #fff;
  height: 185px;
  margin-top: 3%;
  img {
    width: 100%;
    height: 100%;
    @include ease(.1s);
  }
  img:last-of-type {
    float: right;
  }
  img:hover {
    transform: scale(1.1);
  }
}

.board-grid {
  padding: 0 2%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  .board-row {
    margin: auto;
    display: inline-block;
    width: 48%;
    display: flex;
    justify-content: space-between;
    .board-box {
      margin: auto;
      display: inline-block;
      width: 14%;
    }
  }
}
