.sk8ers {
  margin-top: 3%;
  height: 305px;
  h4 {
    margin-top: 22%;
    line-height: 29px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    @include ease(.2s);
  }
  h4:hover {
    transform: scale(1.1);
  }
}

.col-1 {
  display: inline-block;
  width: 66.3%;
  margin-right: .5%;
  height: 305px;
  position: relative;
  .row-1 {
    height: 48.5%;
    width: 100%;
    .inner-col {
      display: inline-block;
      width: 49%;
      height: 100%;
    }
  }
  .row-2 {
    height: 48.5%;
    width: 100%;
  }
}

.col-2 {
  background-color: #fff;
  display: inline-block;
  width: 32.5%;
  height: 305px;
  float: right;
}

.sk8er-arrow {
  position: absolute;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  left: -41%;
  top: 15%;
  display: inline-block;
  background: rgba(180,41,46,1);
  box-shadow: 0 2px 0 0 rgba(177,177,177,.5);
  padding: 18px 0;
  width: 150px;
  text-align: center;
  @include ease(.2s);
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-top: 29px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 29px solid transparent;
    border-left: 20px solid rgba(180,41,46,1);
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    left: 100%;
    top: 2px;
    width: 0;
    height: 0;
    border-top: 29px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 29px solid transparent;
    border-left: 20px solid rgba(177,177,177,.5);
  }
  &:hover {
    transform: scale(1.1);
  }
}

.sk8er-photo {
  @include border-box;
  background-repeat: no-repeat;
  border: 4px solid #fff;
  height: 100%;
  width: 100%;
}

#guerrero {
  @extend .sk8er-photo;
  background-image: url(../images/sk8er-2.png);
  background-size: 295%;
  background-position-x: -305px;
  background-position-y: -1px;
  height: 305px;
  h4 {
    margin-top: 58%;
  }
}

#cab {
  @extend .sk8er-photo;
  background-color: #fff;
  display: inline-block;
  margin-top: 2%;
  background-image: url(../images/sk8er-1.png);
  background-size: 110%;
  background-position-x: 0;
  background-position-y: -62px;
  h4 {
    margin-top: 14%;
  }
}

#mountain {
  @extend .sk8er-photo;
  margin-bottom: 2%;
  margin-right: 1%;
  background-color: #fff;
  display: inline-block;
  background-image: url(../images/sk8er-4.png);
  background-size: 142%;
  background-position-x: -75px;
  background-position-y: -7px;
}

#mullen {
  @extend .sk8er-photo;
  background-color: #fff;
  margin-left: 2%;
  display: inline-block;
  background-image: url(../images/sk8er-3.png);
  background-size: 142%;
  background-position-x: -14px;
  background-position-y: -5px;
}
