@media only screen and (max-width: 1024px) {
  .buttonbar {
    height: 100px;
  }

  .button {
    width: 49%;
    margin-bottom: 2%;
    margin-right: .5%;
    height: 45%;
    box-shadow: 0 0 0 0 rgba(177,177,177,.5);
  }

  .button:hover {
    box-shadow: 0 0 0 0 rgba(177,177,177,.5);
  }

  /*.top-photo {
    background-position-x: -75px;
     background-position-y: -61px;
     background-size: 156%;
  }*/
  /*.top-photo img {
    padding-top: 8%;
  padding-left: 4%;
  }*/
  .articles {
    height: 285px;
  }

  .sk8er-arrow {
    left: -55%;
  }

  #mountain {
    background-size: 175%;
  }

  #mullen {
    background-size: 181%;
  }

  #cab {
    background-size: 137%;
  }

  #guerrero {
    background-size: 410%;
    background-position-y: -30px;
    background-position-x: -340px;
  }

  .sk8er h4 {
    font-size: 24px;
  }

  .boards {
    height: 145px;
  }

  .boards img {
    padding-right: 3%;
  }
}
@media only screen and (max-width: 900px) {
  .content {
    width: 80%;
    margin-top: 10%;
}

.header .social {
  display: none;
}

.buttonbar {
  height: 150px;
}

.button p {
  margin-top: 10%;
}

.top-photo {
  margin-top: 10%;
}

.circlebar {
  margin-top: 5%;
}

.articles {
  margin-top: 5%;
}

.sk8ers {
  margin-top: 10%;
}

.sk8er-arrow {
  display: none;
}

.boards {
  height: 160px;
}
}
